{% extends "base.html" %}

{% block content %}

<div style="border-style: solid;border-width: 3px;border-color: red;margin: auto;width: 25%;margin-top:13%; text-align:center; padding: 10px;background-color:white;">
    
    <a href=ERDiagram ><button style="margin:3px;" class="btn btn-danger">ER DIAGRAM</button></a>
    <br>
    <a href=agentsRelation ><button style="margin:3px;" class="btn btn-danger">AGENTS RELATION</button></a>
    <br>
    <a href=topn ><button style="margin:3px;" class="btn btn-danger">DISPLAY TOP N AGENTS & BROKERAGES</button></a>
    <br>
    <a href=topn ><button style="margin:3px;" class="btn btn-danger">AGENTS RELATION WITH MARKET ID</button></a>
    <br>
    <a href=insights ><button style="margin:3px;" class="btn btn-danger">INSIGHTS</button></a>
</div>

{% endblock %}