{% extends "base.html" %}

{% block content %}

  <table style="border-style: solid;border-width: 3px;border-color: red;margin: auto;margin-top:10%;padding:10px; background-color:white;">
    <tr>
    <td>
      <table style="margin:20px;border: 1px solid;">
        <tr>
            <th style="padding:5px;">Agent ID</th>
            <th style="padding:5px;">Agent Name</th>
            <th style="padding:5px;">Total Deals</th>
        </tr>
        {% for agent in agents %}
            <tr>
                <td> {{ agent[0] }} </td>
                <td> {{ agent[1] }} </td>
                <td> {{ agent[2] }} </td>
            </tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table style="margin:20px;border: 1px solid;">
        <tr>
            <th style="padding:5px;">Brokerge ID</th>
            <th style="padding:5px;">Brokerge Name</th>
            <th style="padding:5px;">Total Deals</th>
        </tr>
        {% for broker in brokerages %}
            <tr>
                <td> {{ broker[0] }} </td>
                <td> {{ broker[1] }} </td>
                <td> {{ broker[2] }} </td>
            </tr>
        {% endfor %}
      </table>
    </td>
    </tr>
  </table>

{% endblock %}